@using MaximApp.Models
@model List<Service>
@{
    int count = 0;
}

<div class="container ">
    <h2>
        Services
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">ImageUrl</th>
                <th scope="col">Processing</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    @* <th scope="row">2</th> *@
                    <td>@count</td>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <div style="width:100px">
                            <img width="100%" src="~/upload/@item.ImgUrl"></img>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger item-delete" asp-action="Delete" asp-route-id=@item.Id>Delete</a>


                    </td>

                </tr>
            
            }
>
        </tbody>
    </table>
</div>
